@model GradskiMuzejSubotica_ZavrsniRad.Models.PredmetBO

@{
    ViewData["Title"] = "Podaci O Predmetu";
    Layout = "_StrucnjakLayout";
}

<h1>Podaci o predmetu</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZbirkaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZbirkaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vreme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vreme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tehnika)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tehnika)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Materijal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Materijal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dimenzije)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dimenzije)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrDelova)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrDelova)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Home" asp-action="Strucnjak">Nazad na početnu</a>
</div>
