@model IEnumerable<GradskiMuzejSubotica_ZavrsniRad.Models.IzlozbaBO>

@{
    ViewData["Title"] = "Lista Izložbe";
    Layout = "_StrucnjakLayout";
    
}

<h1>Lista izložbe</h1>

<p>
    <a asp-action="SetIdIzlozba">Unesi novu izložbu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrSale)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrSale)
            </td>
            <td>
                @Html.ActionLink("Izmeni izložbu", "EditIzlozba", new {  id=item.ID  }) |
                    @Html.ActionLink("Pregled izložbe", "DetailsIzlozba", new {  id=item.ID }) |
                    @Html.ActionLink("Briši izložbu", "DeleteIzlozba", new {  id=item.ID  })
            </td>
            </tr>
        }
       
    </tbody>
</table>
