@model GradskiMuzejSubotica_ZavrsniRad.Models.RacunBO
@using GradskiMuzejSubotica_ZavrsniRad.Models.EFRepository
@{
    ViewData["Title"] = "Storniranje Računa";
    Layout = "~/Views/Shared/_RadnikLayout.cshtml";
    KorisnikRepository korisnikRepository = new();
    string nameKorisnik = Model.RadnikId + " - " + korisnikRepository.GetKorisnikName(Model.RadnikId);
}

<h1>Storniranje računa</h1>

<h3>Sigurno da želite da stornirate račun?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UslugaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UslugaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @{
                string date = Model.Date.ToString("dd/MM/yyyy");
            }
            @Html.DisplayFor(model => date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vrednost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vrednost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RadnikId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => nameKorisnik)
        </dd>
    </dl>
    
    <form asp-action="DeleteRacun">
        <input type="submit" value="Storniraj" class="btn btn-danger" /> |
        <a asp-action="Radnik" asp-controller="Home">Nazad na početnu</a>
    </form>
</div>
